<section class="section-padding inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="text-center">Campaign Details</h1>
        <p class="text-center"><a href="#">Home</a> / Campaign Details</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="sidebar">
          <div class="item">
            <h6>Search Here</h6>
            <input type="text" value="" name="s" id="s" placeholder="Search...">
            <input type="submit" id="searchsubmit" value="Search">
          </div>
          <div class="item">
            <h6>Recent Posts</h6>
            <ul>
              <li><a href="#">What is Lorem Ipsum?</a></li>
              <li><a href="#">Why do we use it?</a></li>
              <li><a href="#">Where does it come from?</a></li>
              <li><a href="#">Where can I get some?</a></li>
              <li><a href="#">There are many variations</a></li>
            </ul>
          </div>
          <div class="item">
            <h6>Categories</h6>
            <ul>
              <li><a href="#">Business</a></li>
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Online Marketing</a></li>
              <li><a href="#">Themeforest</a></li>
            </ul>
          </div>
          <div class="item">
            <h6>Archives</h6>
            <ul>
                <li><a href="#">2019</a></li>
                <li><a href="#">2018</a></li>
                <li><a href="#">2017</a></li>
                <li><a href="#">2016</a></li>
                <li><a href="#">2015</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="campaign"> <img src="assets/images/post-1.png" class="img-fluid" alt="Post-1">
              <div class="text-cont">
                <h5><a href="#">2019 Halloween Ball Honoree</a> </h5>
                <div class="fund-info details"> Raised: <span>$1,202.00</span></div>
                <div class="fund-info details"> Goal: <span>$2,000.00</span></div>
                <div class="fund-info details"> Donor: <span>68</span></div>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. </p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. </p>
                <a class="btn btn-default btn-lg" href="#">Donate Now</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-cont"><i class="icofont-envelope-open"></i></div>
        <div class="text-cont">
          <h3>Join our mailing List</h3>
          <h6>Subscribe us for latest news</h6>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="subscribe-cont">
          <form action="#" method="post">
            <input type="text" class="form-control" name="fname" placeholder="Subscribe Your Mail ID">
            <button type="submit"><i class="icofont-long-arrow-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>