<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="item">
            <h6>OUR COMPANY</h6>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue </p>
          </div>
          <div class="item">
            <ul class="social">
              <li><a href="#"><i class="icofont-facebook"></i></a></li>
              <li><a href="#"><i class="icofont-twitter"></i></a></li>
              <li><a href="#"><i class="icofont-linkedin"></i></a></li>
              <li><a href="#"><i class="icofont-pinterest"></i></a></li>
              <li><a href="#"><i class="icofont-dribble"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="item">
            <h6>Quick Links</h6>
            <ul class="links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About </a></li>
              <li><a href="#">Campaign</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="item">
            <h6>Latest Tweets</h6>
            <p><a href="#">@unitech</a> #CTHECONFERENCE #CTHE #COLLECTIVEIMPACT #COLLECTIVEACTION https://t.co/66csB8rtNx <br/>
              <a href="#"># 9 months ago</a> </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="item">
            <h6>Contact Info</h6>
            <p><i class="icofont-google-map"></i> 60 Grant Ave. Central New Road 0708, UK</p>
            <p><i class="icofont-phone"></i> +880 123 8015</p>
            <p><i class="icofont-envelope"></i> admin@yourdomain.us</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6"><div class="text-center"><p>2019 by Nilanjan Banerjee. All Rights Reserved.</p></div></div>
      </div>
    </div>
  </div>
</footer>