<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active"> <img class="first-slide" src="assets/images/slide-2.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h6>Social Services to</h6><hr/>
          <h1 class="wow fadeInUp">Community <br/> Residents </h1>
          <h5 class="d-none d-sm-none d-md-block d-lg-block">The 2017 us poverty Guideline for a family <br/> of four is $24,600</h5>
          <p class="d-none d-sm-none d-md-none d-lg-block"><a class="btn btn-default btn-lg" href="#">Join Now</a> <a class="btn btn-secondary btn-lg" href="#">View Details</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item"> <img class="first-slide" src="assets/images/slide-3.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h6>We approach that</h6><hr/>
          <h1 class="wow fadeInUp">Do you help <br/> People? </h1>
          <h5 class="d-none d-sm-none d-md-block d-lg-block">The 2017 us poverty Guideline for a family <br/> of four is $24,600</h5>
          <p class="d-none d-sm-none d-md-none d-lg-block"><a class="btn btn-default btn-lg" href="#">Join Now</a> <a class="btn btn-secondary btn-lg" href="#">View Details</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item"> <img class="first-slide" src="assets/images/slide-1.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h6>Why don't you</h6><hr/>
          <h1 class="wow fadeInUp">Make a <br/> Donation </h1>
          <h5 class="d-none d-sm-none d-md-block d-lg-block">The 2017 us poverty Guideline for a family <br/> of four is $24,600</h5>
          <p class="d-none d-sm-none d-md-none d-lg-block"><a class="btn btn-default btn-lg" href="#">Join Now</a> <a class="btn btn-secondary btn-lg" href="#">View Details</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <i class="icofont-line-block-left"></i> <span class="sr-only">Previous</span> </a> 
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <i class="icofont-line-block-right"></i> <span class="sr-only">Next</span> </a> </div>
<section class="section-padding services">
  <div class="container">
    <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="item shade-1"> <i class="icofont-ui-user-group"></i>
              <h6><a href="#">Community Advocate <br/> Engagement</a></h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="item shade-2"> <i class="icofont-handshake-deal"></i>
              <h6><a href="#">Coalition Coordination <br/> & Convencing</a></h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="item shade-3"> <i class="icofont-contacts"></i>
              <h6><a href="#">Policy and <br/> Advocacy</a></h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="item shade-4"> <i class="icofont-home"></i>
              <h6><a href="#">Meeting Community <br/> Needs</a></h6>
            </div>
          </div>
        </div>
  </div>
</section>
<section class="section-padding about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-cont"><img src="assets/images/about-1.png" class="img-fluid" alt=""></div>
      </div>
      <div class="col-md-6">
        <div class="text-cont">
          <h6>About us</h6>
          <h3>Who we are</h3>
          <hr/>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using </p>
          <p>as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
          <a class="btn btn-primary btn-lg" href="#">View Details</a> </div>
      </div>
    </div>
  </div>
</section>
<section class="counter">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <div class="icon-cont"><i class="icofont-ui-love"></i></div>
          <div class="text-cont">
            <h3><span class='numscroller' data-min='1' data-max='50' data-delay='5' data-increment='10'>50</span> M</h3>
            <h6>Targated Population</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <div class="icon-cont"><i class="icofont-calendar"></i></div>
          <div class="text-cont">
            <h3><span class='numscroller' data-min='1' data-max='15' data-delay='5' data-increment='10'>15</span> Years </h3>
            <h6>Serving Long Island</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item last">
          <div class="icon-cont"><i class="icofont-holding-hands"></i></div>
          <div class="text-cont">
            <h3><span class='numscroller' data-min='1' data-max='500' data-delay='5' data-increment='10'>500</span> +</h3>
            <h6>Organizations</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-gray blog-posts">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="section-title">
          <h6>Blog</h6>
          <h3>Recent Posts</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="post"> <img src="assets/images/post-1.png" class="img-fluid" alt="Post-1">
          <div class="text-cont">
            <h5><a href="#">What is Lorem Ipsum?</a> </h5>
            <h6><a href="#">January 16, 2019</a> &nbsp; | &nbsp; <a href="#">Admin</a></h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="post"> <img src="assets/images/post-2.png" class="img-fluid" alt="Post-1">
          <div class="text-cont">
            <h5><a href="#">Why do we use it?</a> </h5>
            <h6><a href="#">January 16, 2019</a> &nbsp; | &nbsp; <a href="#">Admin</a></h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="post"> <img src="assets/images/post-3.png" class="img-fluid" alt="Post-1">
          <div class="text-cont">
            <h5><a href="#">2019 Halloween Ball Honoree</a> </h5>
            <h6><a href="#">January 16, 2019</a> &nbsp; | &nbsp; <a href="#">Admin</a></h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-become-a-member">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="section-title">
          <h6>Join us</h6>
          <h3>Become a Member</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <p>Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
            dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut
            perspiciatis unde omnis iste natus error sit .</p>
          <a class="btn btn-primary btn-lg" href="#">View Details</a> </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-gray events">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="section-title">
          <h6>Events</h6>
          <h3>Upcoming Events</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-1.png" class="img-fluid" alt="Post-1"></div>
          <div class="text-cont">
            <h5><a href="#">What is Lorem Ipsum?</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-2.png" class="img-fluid" alt="Post-2"></div>
          <div class="text-cont">
            <h5><a href="#">Why do we use it?</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> 
          <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-3.png" class="img-fluid" alt="Post-3"></div>
          <div class="text-cont">
            <h5><a href="#">2019 Halloween Ball Honoree</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding partners">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="section-title">
          <h6>Partners</h6>
          <h3>Where we get Funds</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <div class="item"><img src="assets/images/logo/1.png" class="img-fluid" alt=""></div>
      </div>
      <div class="col-md-2  col-sm-6">
        <div class="item"><img src="assets/images/logo/2.png" class="img-fluid" alt=""></div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item"><img src="assets/images/logo/3.png" class="img-fluid" alt=""></div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item"><img src="assets/images/logo/4.png" class="img-fluid" alt=""></div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item"><img src="assets/images/logo/5.png" class="img-fluid" alt=""></div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item"><img src="assets/images/logo/6.png" class="img-fluid" alt=""></div>
      </div>
    </div>
  </div>
</section>
<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-cont"><i class="icofont-envelope-open"></i></div>
        <div class="text-cont">
          <h3>Join our mailing List</h3>
          <h6>Subscribe us for latest news</h6>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="subscribe-cont">
          <form action="#" method="post">
            <input type="text" class="form-control" name="fname" placeholder="Subscribe Your Mail ID">
            <button type="submit"><i class="icofont-long-arrow-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>