<section class="section-padding inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="text-center">About us</h1>
        <p class="text-center"><a href="#">Home</a> / About us</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding about-3">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="text-cont">
          <h3>Welcome to Funddoose Foundation</h3>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of 
            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin 
            professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin 
            words, consectetur, from a Lorem Ipsum passage, and going through the cites of 
            the word in classical literature, discovered the undoubtable source. </p>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of 
            classical Latin literature from 45 BC, making it over 2000 years old. </p>
          <br/>
          <h5>Some Common Features</h5>
          <ul class="features">
            <li>Lorem Ipsum is simply dummy text of the printing</li>
            <li>It is a long established </li>
            <li>Fact that a reader will be distracted</li>
            <li>Contrary to popular belief, Lorem Ipsum is not simply</li>
            <li>On the other hand, we denounce</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="img-cont">
        	<img class="img-fluid" src="assets/images/about-3.png" alt="about 3">
          <div class="box"></div>
         </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-gray testimonial-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="section-title-2">
          <h3 class="text-center">Our Clients <span>Testimonial</span></h3>
          <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 owl-carousel owl-theme testimonial2">
        <div class="item">
          <blockquote> Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry. Lorem Ipsum 
            has been the industry's standard </blockquote>
          <h6>Nilanjan Banerjee</h6>
          <h6><small>Coder</small></h6>
        </div>
        <div class="item">
          <blockquote> Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry. Lorem Ipsum 
            has been the industry's standard </blockquote>
          <h6>Nilanjan Banerjee</h6>
          <h6><small>Coder</small></h6>
        </div>
        <div class="item">
          <blockquote> Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry. Lorem Ipsum 
            has been the industry's standard </blockquote>
          <h6>Nilanjan Banerjee</h6>
          <h6><small>Coder</small></h6>
        </div>
        <div class="item">
          <blockquote> Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry. Lorem Ipsum 
            has been the industry's standard </blockquote>
          <h6>Nilanjan Banerjee</h6>
          <h6><small>Coder</small></h6>
        </div>
        <div class="item">
          <blockquote> Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry. Lorem Ipsum 
            has been the industry's standard </blockquote>
          <h6>Nilanjan Banerjee</h6>
          <h6><small>Coder</small></h6>
        </div>
        <div class="item">
          <blockquote> Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry. Lorem Ipsum 
            has been the industry's standard </blockquote>
          <h6>Nilanjan Banerjee</h6>
          <h6><small>Coder</small></h6>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding team-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="section-title-2">
          <h3 class="text-center">Our Team <span>Members</span></h3>
          <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="item"> <img src="assets/images/team/1.jpg" class="rounded-circle" alt="">
          <div class="text-cont">
            <h5 class="text-center">Jhon Doe</h5>
            <h6 class="text-center">Director</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="item"> <img src="assets/images/team/2.jpg" class="rounded-circle" alt="">
          <div class="text-cont">
            <h5 class="text-center">Alex Jhonson</h5>
            <h6 class="text-center">Project Head</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="item"> <img src="assets/images/team/3.jpg" class="rounded-circle" alt="">
          <div class="text-cont">
            <h5 class="text-center">Eric Jhonson</h5>
            <h6 class="text-center">Coder</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="item"> <img src="assets/images/team/4.jpg" class="rounded-circle" alt="">
          <div class="text-cont">
            <h5 class="text-center">Ema Jhonson</h5>
            <h6 class="text-center">Designer</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-cont"><i class="icofont-envelope-open"></i></div>
        <div class="text-cont">
          <h3>Join our mailing List</h3>
          <h6>Subscribe us for latest news</h6>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="subscribe-cont">
          <form action="#" method="post">
            <input type="text" class="form-control" name="fname" placeholder="Subscribe Your Mail ID">
            <button type="submit"><i class="icofont-long-arrow-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>