<section class="section-padding inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="text-center">Contact us</h1>
        <p class="text-center"><a href="#">Home</a> / Contact us</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Get In Touch</h3>
        <form action="process.php" method="post" name="ContactForm" id="ContactForm" >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="fname" placeholder="First Name *">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="lname" placeholder="Last Name *">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="tel" class="form-control" name="phone" placeholder="Phone *">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email *">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea rows="5" class="form-control" name="comment" placeholder="Your Message *" style="height:150px"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                
                <button type="submit" class="btn btn-secondary btn-lg wow tada">Submit</button>
              </div>
            </div>
          </form>
      </div>
      <div class="col-md-4">
        <div class="contact-info">
        	<div class="item">
            	<div class="icon-cont"><i class="icofont-google-map"></i></div>
                <div class="text-cont">
                	<h6>Address:</h6>
                    <h5>P-32 Arizona US- 129</h5>
                </div>
            </div>
        	<div class="item">
            	<div class="icon-cont"><i class="icofont-envelope"></i></div>
                <div class="text-cont">
                	<h6>Email ID:</h6>
                    <h5>nb@gmail.com</h5>
                </div>
            </div>
            <div class="item">
            	<div class="icon-cont"><i class="icofont-phone"></i></div>
                <div class="text-cont">
                	<h6>Phone No:</h6>
                    <h5>+91 9874039546</h5>
                </div>
            </div>
            <div class="item">
            	<div class="icon-cont"><i class="icofont-skype"></i></div>
                <div class="text-cont">
                	<h6>Skype ID:</h6>
                    <h5>your.skypeid</h5>
                </div>
            </div>
        </div>
      </div>  
    </div>
  </div>
</section>
<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-cont"><i class="icofont-envelope-open"></i></div>
        <div class="text-cont">
          <h3>Join our mailing List</h3>
          <h6>Subscribe us for latest news</h6>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="subscribe-cont">
          <form action="#" method="post">
            <input type="text" class="form-control" name="fname" placeholder="Subscribe Your Mail ID">
            <button type="submit"><i class="icofont-long-arrow-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
