<section class="section-padding inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="text-center">Events List</h1>
        <p class="text-center"><a href="#">Home</a> / Events List</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-1.png" class="img-fluid" alt="Post-1"></div>
          <div class="text-cont">
            <h5><a href="#">What is Lorem Ipsum?</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-2.png" class="img-fluid" alt="Post-2"></div>
          <div class="text-cont">
            <h5><a href="#">Why do we use it?</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> 
          <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-3.png" class="img-fluid" alt="Post-3"></div>
          <div class="text-cont">
            <h5><a href="#">2019 Halloween Ball Honoree</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-1.png" class="img-fluid" alt="Post-1"></div>
          <div class="text-cont">
            <h5><a href="#">What is Lorem Ipsum?</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-2.png" class="img-fluid" alt="Post-2"></div>
          <div class="text-cont">
            <h5><a href="#">Why do we use it?</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="event"> 
          <div class="img-cont"><div class="date">19 Jan <br/> 2019</div>
          <img src="assets/images/post-3.png" class="img-fluid" alt="Post-3"></div>
          <div class="text-cont">
            <h5><a href="#">2019 Halloween Ball Honoree</a> </h5>
            <h6><i class="icofont-google-map"></i> 7180 Republic Airport, NY 11735</h6>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
            <a href="" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-cont"><i class="icofont-envelope-open"></i></div>
        <div class="text-cont">
          <h3>Join our mailing List</h3>
          <h6>Subscribe us for latest news</h6>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="subscribe-cont">
          <form action="#" method="post">
            <input type="text" class="form-control" name="fname" placeholder="Subscribe Your Mail ID">
            <button type="submit"><i class="icofont-long-arrow-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>