<div class="preloader"></div>
<div class="top-bar-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Welcome to  Fundoose. We are Happy to Help You.</p>
      </div>
      <div class="col-md-6">
        <div class="btn-cont alignright"><a class="btn btn-default btn-md-topbar" href="#">Donate Now <i class="icofont-ui-love"></i></a></div>
        <ul class="alignright">
          <li><a href="#"><i class="icofont-facebook"></i></a></li>
          <li><a href="#"><i class="icofont-twitter"></i></a></li>
          <li><a href="#"><i class="icofont-linkedin"></i></a></li>
          <li><a href="#"><i class="icofont-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light btco-hover-menu navbar-1">
  <div class="container"> <a class="navbar-brand" routerLink="/"><img class="logo" src="assets/images/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Home </a>
          <ul class="dropdown-menu animated fadeInUp">
            <li><a class="dropdown-item" routerLink="/">Home 1</a></li>
            <li><a class="dropdown-item" routerLink="/home2">Home 2</a></li>
          </ul>
        </li>
        <li class="nav-item"> <a class="nav-link" routerLink="/about"> About </a> </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Campaign </a>
          <ul class="dropdown-menu animated fadeInUp">
            <li><a class="dropdown-item" routerLink="/campaign-listing">Campaign Listing</a></li>
            <li><a class="dropdown-item" routerLink="/campaign-details">Campaign Details</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Events </a>
          <ul class="dropdown-menu animated fadeInUp">
            <li><a class="dropdown-item" routerLink="/events-listing">Events Listing</a></li>
            <li><a class="dropdown-item" routerLink="/events-details">Events Details</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Blog </a>
          <ul class="dropdown-menu animated fadeInUp">
            <li><a class="dropdown-item" routerLink="/blog-listing">Blog Listing</a></li>
            <li><a class="dropdown-item" routerLink="/blog-details">Blog Details</a></li>
          </ul>
        </li>
        <li class="nav-item"> <a class="nav-link" routerLink="/contact"> Contact </a> </li>
      </ul>
    </div>
  </div>
</nav>